<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component demo</title>
    <link rel="stylesheet" href="/static/css/movie.css">
</head>
<body>
<h4>component demo</h4>
<div class="tooltip-wrapper"></div>
<div class="wrapper"></div>
<!--jquery 库, 处理 dom 方便一点点-->
<script src="/static/js/jquery-3.0.0.min.js"></script>
<!--业务库函数-->
<script src="/static/js/utils.js"></script>
<!--组件函数-->
<script src="/static/js/widget.js"></script>
<!--状态处理函数-->
<script src="/static/js/store.js"></script>
<!--api处理函数-->
<script src="/static/js/api.js"></script>
<!--特定组件-->
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/movie.js"></script>

<script src="/static/js/component_demo.js"></script>
</body>
</html>