{% extends "base.html" %}

{% block username %}{{ user.username }}{% endblock username %}

{% block content %}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        {% for t in todos %}
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3 style="color: red">{{ t['level'] | formattedLevel }}</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在列表间拖动</p>
                    <form action="/todo/add" method="post">
                        <div class="input-group">
                            <input type="text" placeholder="Add new task. " class="input input-sm form-control" name="task">
                            <input type="hidden" value="{{ t['level'] }}" name="level">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
                            </span>
                        </div>
                    </form>
                    <ul class="sortable-list connectList agile-list" id="{{ t['level'] | formattedLevel }}">
                        {% for ts in t['todos'] %}
                        <li class="{{ ts.level | formattedLevelClass }}-element" id="task{{ ts._id }}" >
                            <div>{{ ts.task }}</div>
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">{{ ts.level | formattedLevel }}</a>
                                <i class="fa fa-clock-o"></i>{{ ts.created_time | formattedTime }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">

            <h4>
                Serialised Output
            </h4>
            <p>
                Serializes the sortable's item id's into an array of string.
            </p>

            <div class="output p-m m white-bg"></div>


        </div>
    </div>
</div>
{% endblock content %}